
img {
    height: 24px;
    vertical-align: middle;
}

.room {
    page-break-inside: avoid;
}

.room h1 {
    margin-bottom: 4px;
}

.bundle {
    display: inline-block;
    border: 1px solid lightgray;
    margin: 2px;
    width: 320px;
    vertical-align: top;
}

.bundle h2 {
    padding: 2px 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background: lightgray;
}

.bundle h2 img {
    height: 32px;
}

.items {
    text-align: center;
}

.items > div {
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
}

.items > div::before {
    content: "â˜ ";
}

.reward {
    background: lightgray;
    padding: 2px 0;
    text-align: center;
}
